<div class="relative bg-brand-text overflow-hidden">
  <div class="container mx-auto text-justify py-10 md:max-w-30 mb-10 z-0">
    {% if content.field_pretext|field_value is not empty %}
      <dc-headline light class="mb-8" level="h4">
        {{ content.field_pretext|field_value }}
      </dc-headline>
    {% endif %}

    {% if content.field_text|field_value is not empty %}
      <div class="mb-8 text-white z-10">
        {{ content.field_text }}
      </div>
    {% endif %}

    {% if content.field_text_title|field_value is not empty %}
      <dc-headline light class="mb-8" level="h2">
        {{ content.field_text_title|field_value }}
      </dc-headline>
    {% endif %}

    {% if content.field_text_link|field_value is not empty %}
      <dc-button secondary class="flex justify-center mt-" onclick="window.open('{{ content.field_text_link.0['#url'] }}');">
        {{ content.field_text_link.0['#title'] }}
      </dc-button>
    {% endif %}

  </div>
  <div class="absolute w-full bottom-0 bg-colored-line h-3"/>
</div>
